<html>
<head>
<style>
.bodycenter {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.footer{
    text-align: center;
    border: 1px solid #73AD21;
}
</style>
</head>
<body>
  <div class="bodycenter">

    <form action="add_to_db" method="post">
      <p>Uses MySQL for storing pool data.</p>
      <br>
      pool_name: <input type="text" name="pool_name"><br>
      status: <input type="text" name="status"><br>
      phone: <input type="text" name="phone"><br>
      pool_type: <input type="text" name="pool_type"><br>
      <input type="submit" value="Add to database">
    </form>
    <p>Greetings stored in database</p>
    <br>
    {% for entry in entries %}
        <div>
            <div>{{ entry.greeting }}</div>
        </div>
    {% endfor %}
    <div class="footer">
    </div>
  </div>
</body>
</html>